@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #EEF9BF
    ;
}

h1 {
    width: 100%;
    height: auto;
    margin: 100px auto 150px auto;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
}

.container {
    width: 60%;
    height: auto;
    margin: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 151px;
    height: 146px;
    margin-bottom: 34px;
    position: relative;
}

.face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
   
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 25% 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    box-shadow: 3px 3px 8px #c1bebe;
}

.back {
  width: 117px;
  height: 146px;
  background-color:  #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
  box-shadow: 3px 3px 8px #969696;
}
.face img{
  width: 100px;
  height: 100px;
}
.back img {
  width: 100px;
  height: auto;
}
.back-face {
    transform: rotateY(180deg);
}

.selectedFrontFace {
    transform: rotateY(-180deg);
}

.selectedBackFace {
    transform: rotateY(0deg);
}


.matchFrontFace {
    transform: rotateY(-180deg);
}

.matchBackFace {
    transform: rotateY(0deg);
}

.timer {
    width: 100px;
    height: 50px;
    background-color: #A7E9AF;
 
    border-radius: 8px;
    color: #3e8045;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 90px;
    left: 48%;
    position: relative;
}


@media (max-width: 415px) {
    h1 {
      font-size: 40px;
    }
    .timer {
      left: 38%;
      position: relative;
    }
    .card {
      width: 50px;
      height: 60px;
      margin-right: 8px;
      margin-left: 8px;
    }
    .face {
      width: 100%;
      height: 100%;
    }
    .face img {
      width: 100%;
      height: 100%;
    }
    .back img {
      width: 100%;
      height: 100%;
    }
    .back {
      width: 100%;
      height: 100%;
    }
    .container {
      width: 85%;
      height: auto;
      margin: auto;
    }
  }
  