body{
  background-color: #EEF9BF;
  font-family: 'Roboto', sans-serif;
}

.topBar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 66px;
letter-spacing: -0.004em;
color: #75B79E;
  
}
main{
  display: flex;
  justify-content: center;
}
.listCards{
  
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  
  width: 1065px;
  height: 500px;
  padding-left: 34px;

}
.card{
  transform-style: preserve-3d;
}
.face{
  height: 147px;
  width: 117px;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;

  
  
}
.front{
  transform: rotateY(180deg);
  background-color: #A7E9AF;
}
.back{
  background-color: #A7E9AF;
}
.flip{
  transform: rotateY(180deg);
}

img{
  height: 100px;
  width: 100px;

}

.efeito-virada{
  transition: all 1s linear;
}



@media (max-width: 600px){
  .topBar{
    font-size: 28px;
    transition: all .7s linear;
  }
}



















